:root {
	--text-black: black;
	--text-black-50: rhba(0,0,0,0.5);
	--text-white: white;
	--text-white-50: rgba(255,255,255,0,5);
	--primary-1: #434CCC;
	--primary-2: #F1B505;
	
	--primary-3: #FFDD78;
	
	--h1-size: 72px;
	--h1-line: 80px;
	
	--h2-size: 56px;
	--h2-line: 64px;
	
	--h3-size: 40px;
	--h3-line: 48px;
	
	--h4-size: 24px;
	--h4-line: 32px;
	
	--h5-size: 16px;
	--h5-line: 24px;
	
	--label-size: 12px;
	--label-weight: 700;
	--label-line: 16px;
	
	--text-big-size: 20px;
	--text-big-line: 32px;
	
	--text-size: 16px;
	--text-weigth: 700;
	--text-line: 24px;
	
	--text-grey-size: 16px;
	--text-grey-line: 24px;
	
	--text-small-size: 12px;
	--text-small-weight: 700;
	--text-small-line: 24px;
}

body {
	font-family: 'DM Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}
.serif{
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
}

.wrap {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
	width: 100%; 
}

.side-side {
	display: flex;
	flex-wrap: wrap;
}

.hero {
	background-color: var(--primary-1);
	color: var(--text-white);
	height: 768px;
}

.topbar {
	align-items: center;
	display: flex;
	padding: 16px 0;
	flex: 1 0 100%;
}

.logo {
	color: var(--text-white);
	font-size: var(--h3-size);
}

@media (max-width: 640px) {
	.logo {
		font-size: var(--h4-size);
	}
}

.menu-button {
	display: none;
}

@media (max-width: 640px) {
	.menu-button {
	display: block;
	margin-left: auto; 
	}
}

.menu {
	margin-left: auto;
	margin-right: 20px;
}

@media (max-width: 640px) {
	.menu {
		display: none;
	}
}

.link {
	color: var(--text-white);
	font-weight: bold;
	padding: 20px;
}

.subtitle {
	font-size: var(--h5-size);
	letter-spacing: 7px;
	margin-top: 50px;
	margin-bottom: 24px;
	text-transform: uppercase;
}

@media (max-width: 640px) {
	.subtitle {
		margin-top: 31px;
	}
}

.main {
	font-size: var(--h1-size);
	margin: 0;
	margin-bottom: 24px;
	line-height: var(--h1-line);
}

@media (max-width: 640px) {
	.main {
		width: 300px;
	}
}

.img {
	max-width: 50%;
	object-fit: contain;
	margin-top: 150px;
}

@media (max-width: 640px) {
	.img {
	max-width: 100%;
	align-self: flex-start;
	margin-top: -40px;
	
	}
}

.description {
	font-weight: bold;
	margin-bottom: 40px;
	max-width: 370px;
}

@media (max-width: 640px) {
	.description {
		width: 500px;
	}
}

.sign-up {
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: bold;
	transition: all 2s ease-out;
	height: 48px;
	width: 170px;
}

@media (max-width: 640px){
	.sign-up {
		display: none;
	}
}

.sign-up:hover {
	color: blue;
	background-color: var(--text-white);
}
.container {
	max-width: 50%;
}

.explore {
	background-color: var(--primary-2);
	border-radius: 5px;
	font-weight: bold;
	margin-bottom: 54px;
	padding: 10px;
	width: 170px;
}

.part2 {
	background-color: var(--primary-3);
	color: var(--text-black);
	height: 768px;
}

.focus {
	flex: 0 0 100%;
}

.heading {
	font-size: var(--h2-size);
	text-align: center;
	padding: 60px 0 29px 0;
}

@media (max-width 640px) {
	.heading {
		font-size: var(--h3-size);
		
	}
}

.subheading {
	font-size: var(--text-big-size);
	margin: 0 auto;
	padding-bottom: 36px;
	text-align: center;
	width: 570px;	
}

@media (max-width: 640px) {
	.subheading {
		width: 340px;
	}
}

.rectangle {
	background: var(--text-white);
	box-sizing: border-box;
	border-radius: 5px;
	flex: 0 0 calc(33.33% - 20px);
	height: 416px;
	width: 370px;
}

@media (max-width: 640px) {
	.rectangle {
		flex: none;
		margin-bottom: 16px;
		margin-left: 30px;
	}
}

.rectangle + .rectangle {
	margin-left: 30px
}

.boximg {
	padding: 50px 50px 54px 125px;
}

.boxwrap {
	padding: 30px;
}

.titlebox {
	font-size: var(--h4-size);
	padding-bottom: 10px;
}

.information {
	padding-top: 15px;
}

.arrow {
	padding-left: 7px;
}
.part2__link {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-left: 32px;
	display: flex;
	color: var(--text-black);
	justify-content: flex-start;
	padding-left:32px;
	padding-top: 18px;
}
.part3 {
	background-color: var(--primary-4);
	color: var(--text-black);
	height: 768px;
}

