:root {
	--text-black: black;
	--text-black-50: rhba(0,0,0,0.5);
	--text-white: white;
	--text-white-50: rgba(255,255,255,0,5);
	--primary-1: #434CCC;
	--primary-2: #F1B505;
	
}
body {
	-family: 'DM Sans', sans-serif;
}

h1, h2, h3 ,h4 ,h5 {
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
}

.h1 {
	font-size: 72px;
	line-height: 80px;
}

.h2 {
	font-size: 56px;
	line-height: 64px;
}

.h3 {
	font-size: 40px;
	line-height: 48px;
}

.h4 {
	font-size: 24px;
	line-height: 32px;
}

.h5 {
	font-size: 16px;
	line-height: 24px;
}

.label {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
}

.text-big {
	font-size: 20px;
	line-height: 32px;
}

.text {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.text-grey {
	font-size: 16px;
	line-height: 24px;
}

.text-small {
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
}

.wrap {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
	width: 100%; 
}

.hero {
	background-color: var(--primary-1);
}

.topbar {
	  display: flex;
	  justify-content: space-between;
	  padding-left: 123px;
	  
}
.logo {
	color: var(--text-white);
	font-size: 40px
	
}

/* @media screen and (max-width 375px) {
	.logo {
		font-weight: bold;
	}
} */


.tabs {
	color: var(--text-white);
	float: right;
	font-family: DM Sans;
	font-weight: bold;
	padding: 20px 20px 0 10px;
	
}

.subtitle {
	color: var(--text-white);
	margin-left: 123px;
	font-family: sans;
	margin-top: 50px;
}

.content {
	display: flex;
	margin: 123px;
}

.main {
	color: var(--text-white);
	margin-top: -60px;
	font-size: 72px;
}

.img {
	margin-top: -170px;
	width: 100%;
	height: auto;
}

.description {
	color: var(--text-white);
	font-family: DM Sans;
	font-weight: bold;
	margin: -100px 0 50px 123px;
	
}

.button1 {
	color: var(--text-white);
	font-weight: bold;
	font-family: DM sans;
	margin: -75px 60px 0 -300px;
}

.button2 {
	background-color: var(--primary-2);
	border-radius: 5px;
	color: var(--text-white);
	font-family: DM Sans;
	font-weight: bold;
	margin-left: 123px;
	margin-bottom: 70px;
	padding: 10px;
	width: 170px;
}

